<h1>My Discounts</h1>
<section>
  <% @discounts.by_percentage.each do |discount| %>
    <section class='discount-<%= discount.id %>'>
      <%= link_to "Discount #{discount.id}", "/merchant/discounts/#{discount.id}" %><br>
      Percentage: <%= discount.percentage %>%<br>
      Items Required: <%= discount.items_required %><br><br>
      <%= button_to 'Edit Discount', "/merchant/discounts/#{discount.id}/edit", method: :get %><br>
      <%= button_to 'Delete Discount', "/merchant/discounts/#{discount.id}", method: :delete %><br>
    </section>
  <% end %>
</section>
<br>
<hr>
<br>
<%= button_to 'Add New Discount', '/merchant/discounts/new', method: :get %>
